body{
    
    font-family: 'Montserrat', sans-serif;

}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
.box{
    width: 800px;
    height: 800px;
    background:linear-gradient(to top,#f43b47,#453a94 );
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
h1{
    letter-spacing: .5em;
    margin-bottom: 10%;
}

h2{
    margin-top: 10%;
}